
a{
	text-decoration: none;
}
.linkes {
	list-style: none;
	margin: 20px 90px 5px 0;
	padding: 0;
	padding-bottom: 8px;
	height: 18px;
}
 
.linkes>li {
	display: inline-block;
}
 
/*li后面的li添加*/
.linkes>li+li::before{
	content: "|";
    margin:0 8px;
}
 
/*ul>li::after {
	content: ">";
	font-size: 20px;
	margin: 0 8px;
